*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Oswald';
	color: black;
	font-size: 20px;
	padding-top: 1px;
}


p{
	font-family: 'Oswald';
	font-size: 17px;
	margin-bottom: 30px;
}

h1{
	color: yellowgreen;
	font-size: 65px;
    margin-bottom: 20px;
    font-family: ;
    font font-size: ;
}

h2{
	color: #FFD200;
	font-size: 35px;
	margin-bottom: 20px;
	font-family: 'Kalnia';
}

h3{
	color: #9D7153 ;
	font-size: 35px;
	margin-bottom: 20px;
	font-family: Kalnia; 
}

h4{
	color: #22844E ;
	font-size: 19px;
	margin-bottom: 20px;
	font-family: Kalnia;
	text-align: center;
}

nav{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #E5E1D5;
	font-size: 15px;
	font-family: Kalnia;
	color: black;
	text-align: center;
}

nav a{
	color: #9D7153;
	margin-right: 20px;
	margin-left: 20px;
	text-decoration: none;
	transition: 1s;
}

nav a:hover{
	color: lightyellow;
}


.introbanniere{
	padding-left: 10%;
	padding-top: 300px;
	padding-bottom:300px;
	padding-right: 10%;
}
.introbanniere{
	background-image: url(marseille.jpeg);
}

.about{
	background-color: #95A595 ;
    padding-left: 10%;
	padding-top: 100px;
	padding-bottom:50px;
	padding-right: 10%;
	text-align: right;
}

.contact{
	background-color: #E5E1D5;
	color: #001D6E;
	font-size: 30px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 100px;
	padding-bottom: 60px;
	font-size: 23px;
}

.projets{
	background-color: #E5E1D5;
	color: #001D6E;
	font-size: 30px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20px;
	padding-bottom: 100px;
	font-size: 23px;
}
.portfolio{
	background: #E5E1D5;
	padding: 80px 15%;
}

.grille-travail{
	border: 4px transparent;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 40px;
}

.portfolio article{
	border: 4px transparent;
}

.portfolio h3{
	font-size: px;
	color: #22844E ;
	text-align: center;
}

.btn1{
      background-color: #FFD200;
      color: white;
      padding : 20px 40px;
      display: inline-block;
      text-decoration: none;
      border-radius: 30px;
      font-family: Oswald;
      font-size: 18px;
}

.btn1:hover{
     padding: 20px 70px;
     transition: 0.9s;
}

footer{
	background-color: #95A595;
	color: #FFD200;
	text-align: right;
	padding: 15px 10%;
}


img{
	max-width: 100%;
}














